<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />



    <link href="~/icon/fontawesome-free-5.11.2-web/css/fontawesome.css" rel="stylesheet" />
    <link href="~/icon/fontawesome-free-5.11.2-web/css/brands.min.css" rel="stylesheet" />
    <link href="~/icon/fontawesome-free-5.11.2-web/css/solid.min.css" rel="stylesheet" />
    <script src="~/icon/fontawesome-free-5.11.2-web/js/brands.min.js"></script>
    <script src="~/icon/fontawesome-free-5.11.2-web/js/solid.min.js"></script>
    <script src="~/icon/fontawesome-free-5.11.2-web/js/fontawesome.min.js"></script>


    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <link href="~/Content/style.css" rel="stylesheet" />

    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <script src="~/scripts/jquery-3.5.0.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
    <script src="~/js/script.js"></script>
</body>
</html>
